<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
  <style>
  </style>

</head>

<body>

  <div id="app">
    <template v-if="saudacao">
      <h1>Boas Vindas</h1>
      <p>Conteúdo da tag <strong>template</strong></p>
    </template>

    <h4>Adicionar pacientes</h4>
    <span>Nome:</span><input type="text" id="inputNome">
    <span>Idade:</span><input type="text" id="inputIdade">
    <span>Plano:</span><input type="text" id="inputPlano">
    <button @click="adicionarPaciente()">Adicionar</button>
    <hr>
    <h4>Último paciente cadastrado</h4>
    <p v-if="pacientes.length > 0">{{ultimoPaciente}}</p>
    <hr>
    <h4>Pacientes do plano Ouro</h4>
    ....
    <p v-for="p in pacientes">{{p.plano == "Ouro" ? p.nome : ''}}</p>
    <hr>
    <h4>Pacientes cadastrados</h4>
    <p v-for="p in pacientes">{{p.nome}}</p>
  </div>
  <script>
    options = {
      el: '#app',
      data: {
        template: true,
        pacientes: []
      },
      methods: {
        adicionarPacientes() {
          this.pacientes.push({
            nome: inputNome.value,
            idade: inputIdade.value,
            plano: inputPlano.value
          })
        }
      },
      computed: {
        ultimoPaciente() {
          let key = this.pacientes.length - 1;
          let txt = '';
          txt += 'Paciente' + this.pacientes[key].nome, 'Idade' + this.pacientes[key].idade, 'Plano' + this.pacientes[key].plano
          return txt

        }
      }
    }
    const vm = new Vue(options);
    console.log(vm);//view model = vm</script>
</body>

</html>